@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 10%;
}

p {
  font-family: "Crimson Text", serif;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 800px) {
  h2 {
    margin-top: 25px;
  }
}

/* Navigation */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 85px;
  transition: 0.6s;
  z-index: 1;
}

header.sticky {
  background-color: #fff;
  box-shadow: 0 0 5px 0;
}

.logo {
  width: 75%;
  transition: 0.5s;
}

header.sticky .logo {
  width: 50%;
}

nav ul {
  position: relative;
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 25px;
}

nav ul li a {
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #000;
  border-radius: 15px;
  letter-spacing: 2px;
  transition: 0.6s;
}

nav ul li a.active,
nav ul li a:hover {
  background: linear-gradient(to right, #ff0167, #a43430);
  color: #fff;
}

.hamburger {
  margin-right: auto;
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 45px;
  height: 5px;
  background-color: #000;
  margin: 10px;
  transition: all 0.3s;
}

.nav-collapsed {
  transform: translateX(0);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-16px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-13px, -6px);
}

@media (min-width: 850px) and (max-width: 1100px) {
  header {
    padding: 10px 10px;
  }
}

@media (max-width: 850px) {
  header {
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px 0;
  }
  .logo {
    width: 50%;
  }
  nav ul {
    position: absolute;
    right: 0px;
    top: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: -1;
  }
  nav ul li {
    margin: 0;
    opacity: 0;
    width: 100%;
  }
  nav ul li a {
    display: block;
    text-align: center;
    width: 100%;
    border-radius: 0;
    line-height: 30px;
  }
  .hamburger {
    display: block;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Home */

.home {
  padding: 20% 10%;
  background-image: url("../images/design.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  min-height: 100vh;
}

button {
  margin-top: 20px;
  padding: 15px 40px;
  background: linear-gradient(to right, #ff0167, #a43430);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 25px;
  font-size: 30px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  letter-spacing: 2px;
}

button::before {
  position: absolute;
  top: -20px;
  content: "";
  height: 160px;
  width: 40px;
  background: rgba(255, 255, 255, 0.3);
  transform: translateX(-130px) rotate(20deg);
  transition: all 1s;
}

button:hover::before {
  transform: translateX(230px) rotate(20deg);
}

@media (max-width: 550px) {
  .home {
    padding: 45% 10%;
    text-align: center;
  }
  button {
    padding: 15px 10px;
  }
}

/* About */

.about {
  padding: 5%;
  background-color: #f4f4f4;
}

.img-about {
  position: relative;
  overflow: hidden;
  float: left;
  height: 300px;
  border-radius: 50%;
  margin: 20px;
  shape-outside: circle();
}

.img-about:after {
  display: block;
  padding-bottom: 100%;
  content: "";
}

.about p {
  padding: 10px;
  font-size: 18px;
}

.about-wave {
  background-color: #f4f4f4;
}

@media (max-width: 480px) {
  .img-about {
    margin: 0;
    float: none;
    border-radius: 0;
    shape-outside: none;
    text-align: center;
  }
}

/* Testimonials */

.testimonials {
  padding: 5%;
  background-color: #fff;
}

.cards {
  display: flex;
}

.box {
  position: relative;
  padding: 80px 40px 40px;
  margin-top: 2%;
  width: 50%;
  transition: 0.5s;
  text-align: center;
}

.box:hover {
  background: linear-gradient(to right, #ff0167, #a43430);
}

.box p {
  margin: 0;
  padding: 0;
  transition: 0.5s;
  color: #000;
}

.box h4 {
  margin: 20px 0 0;
  padding: 0;
  transition: 0.5s;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #000;
}

.box span {
  font-weight: 600;
  font-size: 14px;
  color: #c5c5c5;
  transition: 0.5s;
}

.box:hover p,
.box:hover h4,
.box:hover span {
  color: #fff;
}

.imgBox {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 120px;
  height: 120px;
  transform: translateX(-50%);
  border-radius: 50%;
  overflow: hidden;
}

.box:before {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 80px;
  height: 80px;
  content: "";
  background: url("../images/quotes.png");
  background-size: cover;
  opacity: 0.05;
  pointer-events: none;
  transition: 0.5s;
}

.box:hover:before {
  transform: translateY(-60px);
  opacity: 1;
}

.box:after {
  position: absolute;
  bottom: 20px;
  left: 40px;
  width: 80px;
  height: 80px;
  content: "";
  background: url("../images/quotes.png");
  background-size: cover;
  opacity: 0.05;
  pointer-events: none;
  transition: 0.5s;
  transform: rotate(180deg) translateY(0px);
}

.box:hover:after {
  transform: rotate(180deg) translateY(-60px);
  opacity: 1;
}

@media (max-width: 800px) {
  .cards {
    display: table;
  }
  .box {
    margin: 80px 0 20px;
    width: 100%;
  }
}

/* Services */

.services {
  padding: 13%;
  width: 100%;
  height: auto;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.s-box {
  margin: 30px;
  padding: 20px 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  width: 300px;
  height: 430px;
  box-sizing: border-box;
}

.s-box:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
  transition: all ease 0.3s;
}

.s-box h3,
.s-box p {
  margin: auto;
  text-align: center;
}

.bar {
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  width: 100px;
  height: 6px;
  transform: translateX(-50%);
  background: linear-gradient(to right, #ff0167, #a43430);
  border-radius: 0px 0px 10px 10px;
  animation: bar 0.5s;
}

.s-box:hover .bar {
  display: block;
}

@keyframes bar {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

.s-btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ff0167;
  color: #576975;
  transition: 0.8s;
}

.s-btn:hover {
  background: linear-gradient(to right, #ff0167, #a43430);
  border: 1px solid #ff0167;
  color: #fff;
}

@media (max-width: 500px) {
  .s-box {
    margin: 10px auto;
    width: 100%;
    height: auto;
  }
  .container {
    width: auto;
  }
  .s-box p,
  .s-box h3 {
    margin: 10px;
    text-align: center;
  }
}

/* Projects */

.projects {
  padding: 13%;
  width: 100%;
  height: auto;
  background-color: #f4f4f4;
}

.projects img {
  margin: 30px;
  transition: 0.8s;
}

.projects img:hover {
  transform: scale(1.1);
}

div.desc {
  padding: 15px;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Montserat", sans-serif;
}

@media (max-width: 600px) {
  .projects img {
    margin: auto;
    width: 100%;
  }
}

/* Contact */

.contact {
  padding: 5%;
  background: url("../images/design2.jpg") no-repeat top;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
  color: #fff;
}

.contact h2 {
  padding-top: 10%;
}

.contactInfo {
  padding-right: 20%;
}

.cbox {
  padding: 30px;
  display: flex;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  font-size: 22px;
}

.contactInfo h3 {
  font-weight: 800;
}

.text {
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  text-align: left;
}

.contactForm {
  padding: 40px;
  width: 45%;
  background-color: #fff;
  color: #000;
}

.inputBox {
  margin-top: 10px;
  position: relative;
  width: 100%;
  text-align: left;
}

.inputBox input,
textarea {
  margin: 10px 0;
  padding: 5px 0;
  width: 100%;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.inputBox label {
  margin: 10px 0;
  padding: 5px 0;
  position: absolute;
  left: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.inputBox input:focus ~ label,
.inputBox textarea:focus ~ label {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

@media (max-width: 950px) {
  .contact {
    margin: auto;
    flex-direction: column;
  }
  .contactInfo {
    padding-right: 0;
  }
  .contactForm {
    width: 100%;
  }
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333333;
  color: #fff;
  font-size: 22px;
  text-align: center;
  min-height: 25vh;
}
